    :root{
        color: olive;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        outline: none; border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: .2s linear;
    }
    html{
        font-size: 62.5%;
        scroll-behavior: smooth;
        overflow-x: hidden;

    }
    section{
        padding: 2rem;

    }
    .heading{
        text-align: center;
        font-size: 5rem;
        color: snow;
        padding: 1rem;
        margin: 0.5rem;
        background:rgba(2, 1, 1, 0.856);
    
    }
    .heading span{
        color:olive ;
    }
    .btn{
        display: inline-block;
        margin-top: 1rem;
        border-radius: 5rem;
        background: rgba(12, 9, 9, 0.322);
        color: snow;
        padding: .9rem 3.5rem;
        cursor: pointer;
        font-size: 1.7rem;
    }
    .btn:hover{
        background: olive;

    }
    header{
        position: sticky;
        top: 0; left: 0; right: 0;
        background: olive;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1000;
        box-shadow: rgba(41, 10, 10, 0.74);
    }
    header .logo{
        font-size: 3rem;
        color: navy;
        font-weight: bolder;
    }
    header .navbar a{
        font-size: 2rem;
        padding: 0 1.5rem;
        color: black;
    }
    header .navbar a:hover{
        color: navy;
    }
    header .icon a{
        font-size: 2.5rem;
        color: black;
        margin-left: 1.5rem;
    }
    header .icon a:hover{
        color: navy;
    }
    header #toggler{
        display: none;
    }
    header .fa-bars{
        font-size: 3rem;
        color: black;
        border-radius: .5rem;
        padding: .5rem 1.5rem;
        cursor: pointer;
        border: .1rem solid rgba(0,0,0,.3);
        display: none;
    }
    .home{
        display: flex;
        align-items: center;
        min-height: 100vh;
        background:url(slide.jpg) no-repeat;
        background-size: cover;
        width: 100%;
    }
    .home .content{
        max-width: 50rem;
    }
    .home .content h2{
        font-size: 6rem;
        color: olive;
    }
    .home .content span{
        font-size: 4rem;
        color: navy;
        padding: 1rem 0;
        line-height: 1.5;
    }
    .home .content span{
        font-size: 2.5rem;
        color: navy;
        padding: 1rem 0;
        line-height: 1.5;

    }
    .about .row{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;
        padding: 2rem 0;
        padding-bottom: 3rem;
    }
    .about .row .image-container{
        flex: 1 1 40rem;
        position: relative;

    }
    .about .row .image-container img{
        width: 100%;
        border: 1rem solid olive;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(248, 11, 11, 0.1);
        
    }
    .about .row .image-container h1{
        position: absolute;
        top: 50%; transform: translate(-50%);
        font-size: 3rem;
        color: #333;
        background: snow;
        width: 100%;
        padding: 1rem 2rem;
        text-align: center;

    }
    .about .row .content{
        flex: 1 1 40rem;
    }
    .about .row .content h1{
        font-size: 3rem;
        color: olive;

    }
    .about .row .content p{
        font-size: 2rem;
        color: navy;
        padding-top: 1rem;

    }
    .about .row .content h2{
        font-size: 2rem;
        color: #333;
    }
    .icon-container{
        background: rgba(2, 1, 1, 0.856);
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .icon-container .icons{
        background: snow;
        border: .1rem solid rgba(0,0,0,.1);
        padding: 2rem;
        display: flex;
        align-items: center;
        flex: 1 1 25rem;

    } 
    .icon-container .icons img{
        height: 5rem;
        margin-right: 2rem;

    }
    .icon-container .icons h3{
        color:olive;
        padding-bottom: .5rem;
        font-size: 1.5rem;
    }
    .icon-container .icons span{
        color: black;
        font-size: 1.3rem;
    }
    .Product .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .Product .box-container .box{
        flex: 1 1 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
        border-radius: .5rem;
        border: .1rem solid rgba(0,0,0,.1);
        position: relative;
        }
    .Product .box-container .box .discount{
        position: absolute;
        top: 1rem; left: 1rem;
        padding: .7rem 1rem;
        font-size: 2rem;
        color: olive;
        background: rgba(255,51,153,.05);
        z-index: 1;
        border-radius: .5rem;
    }
    .Product .box-container .box .image{
        position: relative;
        text-align: center;
        padding-top: 2rem;
        overflow: hidden;
    }
    .Product .box-container .box .image img{
        height: 25rem;
    }   
     .Product .box-container .box:hover .image img{
        transform: scale(1.1);
    }
     .Product .box-container .box .image .icons{
         position: absolute;
         bottom: -7rem; left: 0; right: 0;
         display: flex;
    }
    .Product .box-container .box:hover .image .icons{
        bottom: 0;
    }
    .Product .box-container .box .image .icons a{
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        width: 50%;
        background:rgba(0,0,0,.3);
        color: navy;
    }
    .Product .box-container .box .image .icons .cart-btn{
        border-left: .1rem solid rgba(0,0,0,.1);
        border-right: .1rem solid rgba(0,0,0,.1);
        width: 100%;
    }
    .Product .box-container .box .image .icons a:hover{
        background: olive;

    }
    .Product .box-container .box .content{
        padding: 2rem;
        text-align: center;
    }
    .Product .box-container .box .content h3{
        font-size: 2.5rem;
        color: navy;
    }
    .Product .box-container .box .content .price{
        font-size: 2.5rem;
        color: olive;
        font-weight: bolder;
        padding-top: 1rem;
    }
    .Product .box-container .box .content .price span{
        font-size: 1.5rem;
        color: black;
        font-weight: lighter;
        text-decoration: line-through;
    }
    .Contact .row{
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
        align-items: center;
    }
    .Contact .row form{
        flex: 1 1 40rem;
        padding: 2.5rem 2.5rem;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
        border: .5rem solid olive;
        background: brown;
        border-radius: 1rem;

    }
    .Contact .row .image{
        flex: 1 1 40rem;
    }
    .Contact .row .image img{
        width: 100%;
        padding: 1rem 1rem;
    }
    .Contact .row form .box{
        padding: 1rem;
        font-size: 1.7rem; 
        color: olive;
        text-transform: none;
        border: .1rem solid rgba(0,0,0,.1);
        border-radius: .5rem;
        margin:.7rem 0;
        width: 100%;
    }
    .Contact .row form .box:focus{
        border-color: black;
   }
   .Contact .row form textarea{
       height: 15rem;
       resize: none;

   }
   .footer{
       margin: 0;
       padding: 0%;

   }
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: olive;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    color: navy;
    font-size: 2.5rem;
    padding:1rem 0;

}
.footer .box-container .box a{
    display: block;
    color: black;
    font-size: 1.5rem;
    padding:1rem 0;
}
.footer .box-container .box a:hover{
    color:snow;
    text-decoration: underline;
}
.footer .box-container .box img{
    margin-top: 1rem;
}
.footer .credit{
    background: black ;
    text-align: center;
    padding: 1.5rem;
    /* margin-top: 1.5rem; */
    /* padding-top: 2.5rem; */
    font-size: 2rem;
    color: snow;
    border-top: .1rem solid rgba(0,0,0,.1);
}
.footer .credit span{
    color: olive;
}








    /* media queries */
    @media(max-width:991px){
        html{
            font-size: 55%;
        }
        
        header{
            padding: 2rem;
        }
        section{
            padding: 2rem;
        }
        .home{
            width: 100%;
        }
    }

    @media(max-width:768px){
        header .fa-bars{
            display: block;

        }
        header .navbar{
            position: absolute;
            top: 100%; left: 0; right: 0;
            background: olive;
            border-top: .1rem solid rgba(0,0,0,.1);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
        }
        header #toggler:checked ~ .navbar{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100% );
        }

        header .navbar a{
            margin: 1.5rem;
            padding: 1.5rem;
            background: snow;
            border: .1rem solid rgba(0,0,0,.1);
            display: block;
        }
        
        .home .content h2{
            font-size: 5rem;
        }
        .home .content span{
            font-size: 2.5rem;
        }
        .icon-container .icons h3{
            font-size: 2rem;
        }
        .icon-container .icons span{
            font-size: 1.7rem;
        
    }
    @media(max-width:450px){
        html{
            font-size: 50%;
        }
        .heading{
            font-size: 4rem;
        }
    }
    @media (max-width:387px){
        header{
           
            padding: 2rem 9%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
        
    
}